/*Generali*/

body{
    background-color: #ffffff;
}

.my-bg{
    background-color: rgb(0, 175, 131);
}

.my-bg-2{
    background-color: rgb(0, 76, 162);
}

.my-bg-3{
    background-color: rgb(2, 40, 83);
}

/*Section*/

header{
    padding-top: 10px;
    padding-bottom: 10px;
}

.start{
    padding-bottom: 40px;
    padding-top: 30px;
}

.portfolio{
    padding-top: 30px;
}

.about{
    margin-top: 20px;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 25px;
    padding-right: 25px;
}

.location{
    padding-top: 20px;
}

/*Accessori*/

button{
    border: 1px solid white;
    color: white;
    padding: 6px;
}

img{
    width: 100%;
    border-radius: 10px;
}

.card-image{
    margin-top: 15px;
    margin-bottom: 15px;
}

.card-img{
    width: auto;
}

h1{
    font-size: 35px;
    padding-bottom: 30px;
}

i .fa-brands{
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 70px;
}

a{
    text-decoration: none;
}

.text{
    color: rgb(0, 175, 131);
}

footer{
    padding-top: 30px;
    padding-bottom: 30px;
}
