/*Generali*/

body{
    background-color: #ffffff;
}

.my-bg{
    background-color: rgb(26, 188, 156);
}

.my-bg-2{
    background-color: rgb(58, 84, 109);
}

.my-bg-3{
    background-color: rgb(44, 62, 80);
}

/*Accessori*/

.star::after, .star::before{
    content: "";
    display: block;
    width: 15%;
    height: 3px;
    margin: 5px 10px;
    background-color: white;
}

.stars::after, .stars::before{
    content: "";
    display: block;
    width: 15%;
    height: 3px;
    margin: 5px 10px;
    background-color: black;
}

button{
    border: 1px solid white;
    color: white;
    padding: 10px;
}

.fa-solid{
    margin-right: 15px;
}

img{
    width: 100%;
    border-radius: 10px;
}

.card-image{
    margin-top: 15px;
    margin-bottom: 15px;
    position: relative;
}

.card-image:hover::after{
    cursor: pointer;
    content: "+";
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 6em;
    font-weight: bold;
    background-color: rgba(0, 255, 0, 0.5);
    color: white;
}

i .fa-brands{
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 70px;
}

a{
    text-decoration: none;
}

.text{
    color: rgb(26, 188, 156);
}